mixin video(video_info)
    a(href=`/videos/${video_info.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=video_info.title
            div.video-mixin__meta 
                span #{video_info.owner.name} • 
                span #{video_info.meta.views} 회
        