.edit-profile__form {
  label {
    font-size: 14px;
    color: white;
    display: block;
    margin-bottom: 5px;
  }
}
.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    color: white;
    text-decoration: underline;
  }
}
