.social__login {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 40px;
  margin-top: 30px;
  .social__btn--github {
    background-color: #606875;
    color: $azure;
  }
  .social__btn--kakao {
    background-color: #f9e126;
    color: $azure;
    margin: 10px 0px;
  }
  .social__btn--naver {
    background-color: #00c523;
    color: $azure;
  }
}
