// video mixin
.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: black;
  }
  .video-mixin__data {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    .video-mixin__desc {
      display: flex;
      flex-direction: column;
      .video-mixin__title {
        font-size: 18px;
        font-weight: 600;
        display: block;
      }
      .video-mixin__meta {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin: 8px 0px;
        gap: 6px;
      }
    }
  }
}
