header
    a(href="/")
       i.fab.fa-youtube 
    nav    
        ul 
            if loggedIn
                li 
                    a(href="/videos/upload") 비디오업로드
                li 
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") 로그아웃
            else
                li 
                    a(href="/join") 계정등록
                li 
                    a(href="/login") 로그인
            li 
                a(href="/search") 비디오검색