extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="현재 비밀번호", type="password", name="oldPassword")
        input(placeholder="새로운 비밀번호", type="password", name="newPassword")
        input(placeholder="새로운 비밀번호확인", type="password", name="newPasswordChk")
        input(type="submit" value="비밀번호변경")
